:root {
  --main: #2f2fa2;
  --accent: #f64c72;
  --link: var(--accent);
  --background: #f5f6f8;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main);
}

a,
a:active,
a:visited {
  color: var(--link);
}

a:not([href]) {
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main);
  padding: 1rem 0;
  align-content: center;
  background-color: var(--background);
}

article {
  position: relative;
  overflow-wrap: anywhere;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 30px #ccc;
  padding: 1rem;
  margin-top: 1rem;
}

article h3 {
  display: inline-block;
  border-bottom: 3px dashed var(--accent);
}

.title-wrapper {
  margin-top: 0;
}

article > * {
  display: block;
  margin-top: 1rem;
}

footer {
  align-self: flex-end;
  font-size: 1rem;
  margin-top: 1rem;
}

.previous-next-wrapper:empty {
  display: none;
}

.previous-next-wrapper > a:nth-child(2) {
  float: right;
}

.date {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-style: italic;
  float: right;
  cursor: default;
}

.share-button {
  position: absolute;
  top: -1rem;
  right: -64px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--main);
  cursor: pointer;
}

.bounceAnimation {
  animation: bounceAnimation 0.3s ease-in-out;
}

@keyframes bounceAnimation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.share-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main);
}

.share-svg > g {
  fill: white;
}
